section.type(data-type="3")
    .type__container
        h2.type__title Ультра

        .type__body
            .type__img-wrap
                //img(src="./assets/img/type/01.jpg")

            .type__desc.type-desc
                h3.type-desc__title Описание
                p.type-desc__text Дешевый вариант высокопроизводительной системы SISTEM PRO, которая предоставит Вам возможность выполнения любого спектра офисных работ, а также обеспечит возможность играть в некоторые игры, ведь в нашем системном блоке:
                ul
                    li.type-desc__text Процессор Intel Core i7-820. Процессор, для которого по силам любые офисные задачи, которые только могут прийти Вам в голову.
                    li.type-desc__text Видеокарта AMD rx580 8gb. Видеокарта, которая обеспечит плавный геймплей в играх, который не сравнится с аналогичными в данном ценовом сигменте.
                    li.type-desc__text 8ГБ DDR3. По производительности она является высокой, что позволяет ей выполнять любые задачи, особенно офисные.
                    li.type-desc__text SSD 512GB. Данный диск позволяет крайне быстро запускать операционную систему, а также любые программы, за счет отсутствия зависимости обработки информации от вращения диска.
                    li.type-desc__text Блок питания deepcool PF550. Данный блок питания позволяет с запасом запитать данный компьютер, что позволит Вам в будущем совершить апгрейд Вашего компьютера!
                    li.type-desc__text RGB-подсветка сделает вид компьютера более приятным глазу, что позволит поставить его на стол или полку, украсив тем самым внешнее убранство.
                    button.type-desc__btn-more Читать дальше


                .type__actions
                    span.type__price 34 900 ₽
                    button.type__button.button.button--accent.popup-open Заказать

            .type__properties.type-properties
                h3.type-properties__title Характеристики

                ul.type-properties__list
                    li.type-properties__item
                        span.type-properties__name Процессор
                        span.type-properties__value Intel Core i7-820
                    li.type-properties__item
                        span.type-properties__name Материнская плата
                        span.type-properties__value h55 Motherboard
                    li.type-properties__item
                        span.type-properties__name Оперативная память
                        span.type-properties__value ddr3 4gb 1066mhz
                    li.type-properties__item
                        span.type-properties__name Видеокарта
                        span.type-properties__value AMD rx580 8gb
                    li.type-properties__item
                        span.type-properties__name Блок питания
                        span.type-properties__value Deepcool PF550
                    li.type-properties__item
                        span.type-properties__name Дискретная память
                        span.type-properties__value Acos SSD 512GB
                    li.type-properties__item
                        span.type-properties__name Расх. Материалы
                        span.type-properties__value Darkflash INF24 Pro 120 мм x5
                    li.type-properties__item
                        span.type-properties__name Корпус
                        span.type-properties__value ДНС
                    li.type-properties__item
                        span.type-properties__name Система Охлаждения
                        span.type-properties__value Кулер для процессора
