section.type
    .type__container.container
        h2.type__title Стандарт

        .type__body
            .type__img
                img(src="./assets/img/type/01.jpg")

            .type__properties.type-properties
                h3.type-properties__title Характеристики

                ul.type-properties__list
                    li.type-properties__item
                        span.type-properties__name Процессор
                        span.type-properties__value AMD Ryzen 5 1500x
                    li.type-properties__item
                        span.type-properties__name Материнская плата
                        span.type-properties__value GIGABYTE B450M K
                    li.type-properties__item
                        span.type-properties__name Оперативная память
                        span.type-properties__value Kllisre DDR4 8 ГБ x2
                    li.type-properties__item
                        span.type-properties__name Видеокарта
                        span.type-properties__value AMD RX580 8 Гб
                    li.type-properties__item
                        span.type-properties__name Блок питания
                        span.type-properties__value DEEPCOOL PF550
                    li.type-properties__item
                        span.type-properties__name Дискретная память
                        span.type-properties__value ACOS SSD 512 Gb
                    li.type-properties__item
                        span.type-properties__name Расх. Материалы
                        span.type-properties__value Darkflash INF24 Pro 120 мм x5
                    li.type-properties__item
                        span.type-properties__name Корпус
                        span.type-properties__value DEEPCOOL MATREXX 30
                    li.type-properties__item
                        span.type-properties__name Система Охлаждения
                        span.type-properties__value DEEPCOOL Gamma Archer

            .type__desc.type-desc
                h3.type-desc__title Описание
                p.type-desc__text Дешевый вариант высокопроизводительной системы SISTEM STANDART, которая предоставит Вам возможность выполнения любого спектра работ, а также обеспечит возможность играть в ААА-игры и проекты, которые только выйдут, ведь в нашем системном блоке:
                p.type-desc__text Процессор ryzen 5 1500x 4/8 3.5 GHz. Процессор, для которого по силам любые задачи начиная с запуска Word вплоть до организации дома домашнего сервера.
                p.type-desc__text Видеокарта AMD rx580 8gb. Видеокарта, которая обеспечит плавный геймплей в играх, который не сравнится с аналогичными в данном ценовом сигменте.
                p.type-desc__text 16 Гб DDR4. По производительности она выше DDR3, что позволяет ей выполнять любые задачи. SSD 512GB. Данный диск позволяет крайне быстро запускать операционную систему, а также любые программы, за счет отсутствия зависимости обработки информации от вращения диска.
                p.type-desc__text Блок питания deepcool PF550. Данный блок питания позволяет с запасом запитать данный компьютер, что позволит Вам в будущем совершить апгрейд Вашего компьютера!
                p.type-desc__text RGB-подсветка сделает вид компьютера более приятным глазу, что позволит поставить его на стол или полку, украсив тем самым внешнее убранство.


            .type__actions
                span.type__price 48 800 ₽
                button.type__button.button.button--accent Заказать
