section.type(data-type="2")
    .type__container
        h2.type__title Стандарт

        .type__body
            .type__img-wrap
                img(src="./assets/img/type/02.jpg")

            .type__desc.type-desc
                h3.type-desc__title Описание
                p.type-desc__text Дешевый вариант высокопроизводительной системы SISTEM BAZIS, которая предоставит Вам возможность выполнения любого спектра офисных работ, а также обеспечит возможность играть в абсолютно любые ААА-проекты ближайших 5 лет, а также при необходимости включить дома свой собственный сервер и хостинг, ведь в нашем системном блоке:
                ul
                    li.type-desc__text Процессор Intel Xeon e5-2699v3 18/36 2.3 Ghz. Процессор, для которого по силам любые офисные задачи, которые только могут прийти Вам в голову, организация домашнего сервера, майнинг фермы, а также игры в абсолютно любые игры уровня ААА-проектов.
                    li.type-desc__text Видеокарта AMD rx580 8gb. Видеокарта, которая обеспечит плавный геймплей в любых играх, который не сравнится с аналогичными в данном ценовом сигменте.
                    li.type-desc__text 32ГБ DDR4 REG ECC. REG ECC - это регистровая оперативная память с двойной коррекцией ошибок, что делает её по производительности очень привлекательной как для энтузиастов, так и для геймеров.
                    li.type-desc__text SSD 512GB. Данный диск позволяет крайне быстро запускать операционную систему, а также любые программы, за счет отсутствия зависимости обработки информации от вращения диска.
                    li.type-desc__text Блок питания deepcool PF550. Данный блок питания позволяет с запасом запитать данный компьютер, что позволит Вам в будущем совершить апгрейд Вашего компьютера!
                    li.type-desc__text RGB-подсветка сделает вид компьютера более приятным глазу, что позволит поставить его на стол или полку, украсив тем самым внешнее убранство.
                    button.type-desc__btn-more Читать дальше


                .type__actions
                    span.type__price 78 800 ₽
                    button.type__button.button.button--accent.popup-open Заказать

            .type__properties.type-properties
                h3.type-properties__title Характеристики

                ul.type-properties__list
                    li.type-properties__item
                        span.type-properties__name Процессор
                        span.type-properties__value Intel Xeon e5-2699v3 18/36 2.3 Ghz.
                    li.type-properties__item
                        span.type-properties__name Материнская плата
                        span.type-properties__value Machinist x99
                    li.type-properties__item
                        span.type-properties__name Оперативная память
                        span.type-properties__value Kllisre DDR4 8 ГБ x4
                    li.type-properties__item
                        span.type-properties__name Видеокарта
                        span.type-properties__value ASUS RTX 2060
                    li.type-properties__item
                        span.type-properties__name Блок питания
                        span.type-properties__value DEEPCOOL PF550
                    li.type-properties__item
                        span.type-properties__name Дискретная память
                        span.type-properties__value ACOS SSD 512 Gb
                    li.type-properties__item
                        span.type-properties__name Расх. Материалы
                        span.type-properties__value Darkflash INF24 Pro 120 мм x5
                    li.type-properties__item
                        span.type-properties__name Корпус
                        span.type-properties__value 240 AIO ATX PSU
                    li.type-properties__item
                        span.type-properties__name Система Охлаждения
                        span.type-properties__value SNOWMAN
