.hero
  display: flex
  align-items: center
  position: relative
  min-height: 90vh
  height: 100%
  padding: 64px 0
  color: $white
  background-image: url("../img/cover.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  left: 0
  top: 0
  &::after
    content: ""
    position: absolute
    width: 100%
    height: 100%
    background: linear-gradient(180deg, rgba($black, 0.7) 50%, rgba($black, 1) 100%)
    top: 0
    left: 0
  @media (max-width: $width-mobile)
    background-image: url("../img/cover-mobile.jpg")
    align-items: flex-start
    padding: 92px 0 0

  &__container
    position: relative
    z-index: 2

  &__title
    @include fontSize(24, 48)
    margin-bottom: 32px
  &__text
    font-family: "AverageSans", sans-serif
    margin-bottom: 64px
    @include fontSize(14, 18)
    max-width: 60%
    line-height: 1.5
    @media (max-width: $width-tablet)
      max-width: 80%
    @media (max-width: $width-mobile)
      margin-bottom: 250px
      max-width: initial

  &__button
    @media (max-width: $width-mobile)
      width: 100%