section.hero
    .hero__container.container
        h1.hero__title Компьютеры для офисов <br> и предприятий
        p.hero__text Раскройте потенциал команды с помощью наших ПК, которые обеспечат бесперебойную многозадачность и повышенную производительность
        button.hero__button.button.button--accent.popup-open Заказать