section.hero
    .hero__container.container
        h1.hero__title Сборные компьютеры
        p.hero__text Для дома, офисов и крупных предприятий
        button.hero__button.button.button--accent.popup-open Заказать