header.header
    .header__container.container(itemscope itemtype="https://schema.org/Organization")
        a.header__logo.transition(href="index.html" itemprop="url")
          img(src="./assets/img/logo.png" alt="Логотип ООО «Система»")

        nav.header__nav
            ul.header__nav-list
                li.header__nav-item
                    a.header__nav-link(href="#selection") Подобрать компьютер
                li.header__nav-item
                    a.header__nav-link(href="#feedback") Задать вопрос
                li.header__nav-item
                    a.header__nav-link(href="#footer") Контакты

        a.header__tel(href="tel:+78126482388" itemprop="telephone" content="+78126482388") +7 (812) 648-23-88