.selection
    .selection__container.container
        h2.title-section Подобрать компьютер

        ul.selection__tabs-large
            li Для предприятий
            li Для офиса
            li Для дома

        ul.selection__tabs-small
            li(data-tab="1") Эконом
            li(data-tab="2") Для офиса
            li(data-tab="3") Ультра

        include ../type/type-01
        include ../type/type-02
        include ../type/type-03