.selection
    .selection__container.container
        h2.title-section Выберите категорию

        ul.selection__tabs-large
            li Для предприятий
            li Для офиса
            li Для дома

        h2.title-section Выберите комплектацию

        ul.selection__tabs-small
            li(data-tab="1") Эконом
            li(data-tab="2") Стандарт
            li(data-tab="3") Ультра

        include ../type/type-01
        include ../type/type-02
        include ../type/type-03